body {
  background: #f8f8f8;
  margin: 48px;
}

table {
  border: 1px solid #333;
  border-collapse: collapse;
  min-width: 300px;
}

table td,
table th {
  border: 1px solid #333;
  padding: 8px;
  text-align: center;
}